html, body {
    background-color: rgb(106, 135, 165);
}

#row1 {
    height: 4.5rem;
}

#mainrow {
    height: 13rem;
}

#lrow {
    height: 4.5rem;
}

.col {
    width: 10rem;
}

button:focus {
    outline: none;
}
